PORT=3002
JWT_SECRET=
SEPOLIA_RPC_URL=
PRIVATE_KEY=
CHAIN_ID=11155111
SUBNAME_REGISTRY_CONTRACT=0x7f4e71edc1d8914c2EFa72783BD5d70C5B7AD699
PINATA_JWT=
DOCKER_IMAGE=alpine/git:2.47.2
MAX_CONCURRENT_DEPLOYS=3
CLONE_TIMEOUT_SECONDS=300
BUILD_TIMEOUT_SECONDS=1800
IPFS_TIMEOUT_SECONDS=300
TX_TIMEOUT_SECONDS=180
