PORT=3002
JWT_SECRET=d3ploy-secret-dev
SEPOLIA_RPC_URL=https://sepolia.drpc.org
REGISTRY_CONTRACT=0xeCDcCf060EEf50Fc37D45F7C1ffF39C041BD8F40
IPNS_REGISTRY_CONTRACT=0xFAf914B77F07F2755abf6DB88BA7104E591fBBb6
SUBNAME_REGISTRY=0x7f4e71edc1d8914c2EFa72783BD5d70C5B7AD699
ACCESS_CONTROLLER=0x790E50cDF2FC85485189A003879d94F4839306C6
GITHUB_CLIENT_ID=Ov23livrQtuylGp9nwYk
GITHUB_CLIENT_SECRET=8a822a959f49dec75d7de0428af5af2ba686c9ce
PRIVATE_KEY=b6a489a3ff9976234d6684030095e8b6a14e1956af548695b935bb52bff2b7a7
IPFS_GATEWAY=https://ipfs.io
TELEGRAM_BOT_TOKEN=8605841445:AAG3tTzQJzYa51GUg77rOdrYM3l20_FzABo
OPENROUTER_API_KEY=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
GOOGLE_CLIENT_ID=461088674117-2irqbcjrhknnc7pikpvpbc20nv5aodqv.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

PRIVATE_KEY=
CHAIN_ID=11155111
SUBNAME_REGISTRY_CONTRACT=0x7f4e71edc1d8914c2EFa72783BD5d70C5B7AD699
DOCKER_IMAGE=alpine/git:2.47.2
MAX_CONCURRENT_DEPLOYS=3
CLONE_TIMEOUT_SECONDS=300
BUILD_TIMEOUT_SECONDS=1800
IPFS_TIMEOUT_SECONDS=300
TX_TIMEOUT_SECONDS=180
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI2NGQ3YWYyYy0wNWIwLTRmZTYtOGQxMC0yMDRkOTVmNDY3OGMiLCJlbWFpbCI6ImFybmFiYmhvd21pazIwMDVAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImVjMTEwM2I3OGRhNWUyODhkZDY2Iiwic2NvcGVkS2V5U2VjcmV0IjoiODZkMGY1N2I2MDA5Y2JkOWI5YmVhY2NmY2I2MWQ0MjVhZTUyM2Q4MmEyMmUxZWZhNmY1ZTE1MmM2YmNmYjdlOCIsImV4cCI6MTgwNTA1OTQ1Nn0.8TJukoGPjSbLC5vyL7H-JmaU8Dp-2OTsME9xD9SLhWw
PINATA_API_KEY=ec1103b78da5e288dd66
PINATA_API_SECRET=86d0f57b6009cbd9b9beaccfcb61d425ae523d82a22e1efa6f5e152c6bcfb7e8
